<tr style="border: none">
		<td width="30%" style="border: none;">
			<a href="{{ include.url }}">
				<img src="images/{{ include.img_path }}" style="width: 100%">
			</a>
		</td>
		<td width="2%" style="border: none"></td>
		<td width="68%" style="border: none">
		<p>
			<b>{{ include.title }}</b>
			<br>
			{{ include.author_list }}
      <br>
      {{ include.published_in }}
			<br>
			<a href="{{ include.url }}"> [Paper]</a>
			{% if include.code_url %}
			<a href="{{ include.code_url }}"> [Code]</a>
			{% endif %}
			{% if include.video %}
			<a href="{{ include.video }}"> [Video]</a>
			{% endif %}
			{% if include.poster %}
			<a href="{{ include.poster }}"> [Poster]</a>
			{% endif %}
			{% if include.blog_post %}
			<a href="{{ include.blog_post }}"> [Blog Post]</a>
			{% endif %}
		</p>
  </td>
</tr>
